@import '../../../styles/scss/Imports.scss';

.prices {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 77px;

    .prices-pricing {

        &__title {}

        &__checkbox {}

        &__button {}

        &__plans {}

        &__plans-column {}

        &__plans-item {}
    }

    .prices-qa {

        &__title {}

        &__column {}

        &__item {}

        &__number {}

        &__text {}
    }
}