@import '../../styles/scss/Imports.scss';

.header {
    padding-top: 31.5px;

    .navbar {
        display: flex;
        align-items: center;

        .navbar_column {
            display: flex;
            align-items: center;
        }

        .navbar_image {
            transition: $tr1;
        }

        .navbar_list {
            margin: 0 60px;
        }

        .navbar_link {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: $color1;
            transition: $tr1;
            padding: 5px 10px;
            border: 2px solid transparent;
            border-radius: 3px;

            &:hover {
                background-color: #fff;
                border: 2px solid #1E1E1E;
                border-radius: 10px;
                transition: $tr1;
            }

            &:active {
                font-weight: 500;
                background: #FDCF24;
                border-radius: 10px;
                border: 2px solid #FDCF24;
                color: #1E1E1E;
            }
        }

        .navbar_buttons {
            margin-left: 153px;
        }

        .navbar_button {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            text-align: right;
            color: #1e1e1e;
            margin-right: 16px;
            padding: 13px 20px;
            background-color: #fff;
            border: 2px solid #1E1E1E;
            border-radius: 10px;
            transition: $tr1;

            &:hover {
                font-weight: 500;
                background: #FDCF24;
                border-radius: 10px;
                border: 2px solid #FDCF24;
                color: #1E1E1E;
            }

            &:active {
                background-color: #fff;
                border: 2px solid #FDCF24;
            }
        }
    }

    .content {
        position: relative;
        left: 109px;
        margin-top: 71px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .image {}

        .info {

            .arrow {
                transition: $tr1;
            }

            .title {
                width: 602px;
                margin-left: 47px;
                font-size: 54px;
                font-weight: 700;
                line-height: 160%;
                color: #1e1e1e;
                transition: $tr1;
            }

            .subtitle {
                margin-top: 19px;
                width: 467px;
                margin-left: 47px;
                font-size: 20px;
                font-weight: 500;
                line-height: 160%;
                color: #1e1e1e;
                transition: $tr1;
            }

            .buttons {
                margin-top: 48px;
                margin-left: 47px;
                padding: 18px 30px;
                background-color: #FFFFFF;
                border: 2px solid #1E1E1E;
                border-radius: 12px;
                transition: $tr1;

                span {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 160%;
                    color: #1e1e1e;
                    transition: $tr1;

                }

                &:nth-child(1) {
                    span {
                        background: url('./image/Icon1.png') right no-repeat;
                        padding-right: 31.25px;
                    }
                }

                &:nth-child(2) {
                    span {
                        background: url('./image/Icon.png') left no-repeat;
                        padding-left: 31.25px;
                    }
                }

                &:hover {

                    background-color: #FDCF24;
                    border: 2px solid #FDCF24;
                }

            }

            .rate {
                margin-top: 24px;
                margin-left: 47px;
                transition: $tr1;
            }
        }

        .shapes {
            position: relative;
            left: 145px;
            top: 392px;
            transition: $tr1;
        }
    }

    .banner {

        .banner_body {
            width: 100%;
            height: 113.98px;
            display: grid;
            grid-gap: 15px;
            justify-content: center;
            font-family: $ff1;
            background: #FDCF24;
            transform: rotate(1.28deg);
        }

        p {
            padding-top: 49.12px;
            text-align: center;
            font-size: 34px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: #1e1e1e;
        }
    }
}