@import '../../styles/scss/Imports.scss';

.feedback {
    margin-top: 166px;
    background-color: #FBFEFF;
    display: grid;
    justify-content: center;

    .feedback_info {

        .feedback_info_title {}

        .feedback_info_subtitle {}

        .feedback_info_images {}
    }

    .feedback_feature {

        .feedback_feature_column {}

        .feedback_feature_list {}

        .feedback_feature_image {}

        .feedback_feature_title {}

        .feedback_feature_subtitle {}
    }
}