@import '../../styles/scss/Imports.scss';

.experience {
    margin-top: 133.74px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32.63px;
    grid-row-gap: 0px;
    grid-gap: 15px;

    .experience_content {
        position: relative;
        left: 374.5px;
    }

    .experience_title {
        width: 636.44px;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        color: #12141d;
        margin-bottom: 27.63px;
        transition: $tr1;
    }

    .experience_subtitle {
        width: 542.94px;
        font-size: 18px;
        line-height: 30px;
        color: #12141d;
        margin-bottom: 73.51px;
        transition: $tr1;
    }

    .experience_images {}

    .experience_column {}

    .experience_list {}

    .experience_list_icon {
        position: relative;
        right: 73px;
        top: 60px;
        transition: $tr1;
    }

    .experience_list_title {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: #12141d;
        transition: $tr1;
    }

    .experience_list_subtitle {
        margin-top: 14px;
        width: 468.56px;
        font-size: 16px;
        line-height: 24px;
        color: #12141d;
        transition: $tr1;
    }

    .banner {
        width: 204.5%;
        position: relative;
        bottom: 13px;
        background: #1E1E1E;

        .banner_title {
            color: #FFFFFFCC;
            margin-top: 88px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;

            span {
                color: #F4C44C;
                text-decoration: underline;
                opacity: 1;
            }
        }

        .banner_column {
            margin-top: 20px;
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 88px;
        }

        .banner_list {
            border: 3px solid $color1;
            border-radius: 5px 0px 5px 0px;
            transition: $tr1;

            img {
                transition: $tr1;
            }

            &:hover {
                cursor: pointer;
                border: 3px solid #F4C44C;
            }

            &:active {
                transform: translateY(5px);
            }
        }
    }
}