// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Templates
$ff1: 'Inter',
sans-serif;
$ff2: 'Kanit',
sans-serif;

$color1: #1E1E1E;
$color2: #F6F4F0;
$color3: #FDCF24;
$color4: #FFFFFF;
$color5: #055F5B;
$color6: #E2DAD6;
$color7: #FAF8F6;

$tr1: 0.35s;